@tailwind utilities;

@import 'react-datepicker/dist/react-datepicker.css';

/* Custom Theme Variables */
:root {
  --background: #cfb3f3;
  --foreground: #170c1c;
  --font-sans: ui-sans-serif, system-ui, sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #170c1c;
    --foreground: #cfb3f3;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
